.box {
  background-color: #0799d3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 0;
  position: relative; /*tek kada sam ovo dodala proradilo je!*/
  animation-name: jump;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes jump {
    
    from {
        top: 0px;
    }
    
    to {
        top: 100px;
    }
}


@-webkit-keyframes jump {
    from {
      top: 0;
    }
    to {
      top: 100px;
    }
  }